.pageBg_09 {
  position: relative;
}

#contactForm {
  text-align: center;
  font-size: 1.4em;
  position: absolute;
  width: 70vh;
  top: 27%;
  left: 23vh;
}

#contactForm > div {
  text-align: left;
  margin-bottom: .5em;
  border-bottom: 2px solid #9f9f9f;
  padding: 0.2em .5em;
}

#contactForm > div img {
  height: 1.4em;
}

#contactForm > div:hover {
  background-color: #101010;
  border-bottom: 2px solid #f68b20;
}

#contactForm > div:hover i {
  color: #ffffff;
}

#contactForm input[type=text], #contactForm textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 0);
}

#contactForm input[type=text]:focus, #contactForm textarea:focus {
  list-style: 2em;
  box-shadow: 0 0 5px rgba(81, 203, 238, 0);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 0);
}

#contactForm button {
  clear: both;
}

#contactForm .shield input {
  width: 50%;
}

#contactForm .shield div {
  float: right;
  background-color: #121212;
  width: auto;
  height: 1em;
}

#contactForm .comment {
  height: 100px;
  position: relative;
}

#contactForm .comment span {
  position: absolute;
  top: 10px;
}

#contactForm .comment textarea {
  position: absolute;
  left: 64px;
  height: 4em;
}

#contactForm i {
  margin-right: 15px;
  margin-left: 10px;
  color: #9f9f9f;
}

#contactForm input {
  height: 1em;
}

#contactForm input,
#contactForm textarea {
  background-color: rgba(1, 1, 1, 0);
  border: none;
  width: 70%;
  font-size: 1em;
  color: #fff;
}

#contactLink {
  font-size: 1.6em;
  position: absolute;
  width: 90vh;
  height: 500px;
  top: 27%;
  left: 112vh;
}

#contactLink li {
  clear: left;
  line-height: 70px;
}

#contactLink div {
  border: 1px solid;
  border-radius: 60px;
  width: 70px;
  height: 70px;
  margin: 0px 20px 20px 0px;
  text-align: center;
  float: left;
}

#contactLink i {
  margin-top: 25%;
  font-size: 1.4em;
}
