//contact page
@import "base/_variables.scss";

$topspace:18vw;
.pageBg_09 {
    position: relative;
}

#contactForm {
    text-align: center;
    font-size: 1.4em;
    position: absolute;
    width: 40vw;
    top: $topspace;
    left: 13vw; 
    >div {
        text-align: left;
        margin-bottom: .5em;
        border-bottom: 2px solid $grey;
        padding: 0.5em .5em;
        &:hover {
            background-color: $black;
            border-bottom: 2px solid $primary;
            i {
                color: #ffffff;
            }
        }
    }
    input[type=text], textarea {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgba(81, 203, 238, 0);
      }
    input[type=text]:focus, textarea:focus {
        list-style: 2em;
        box-shadow: 0 0 5px rgba(81, 203, 238, 0);
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgba(81, 203, 238, 0);
      }
    button {
        clear: both;
    }
    .shield {
        input {
            width: 50%;
       
        }
       
        div {
            float: right;
            background-color: $darkGrey;
            width: auto;
            height: 1em;
        }
    }
    .comment {
        height: 100px;
        position: relative;
        span {
            position: absolute;
            top: 10px;
        }
        textarea {
            position: absolute;
            left: 64px;
            height: 4em;
        }
    }
    i {
        margin-right: 15px;
        margin-left: 10px;
        color:$grey;
    }
    input {
        height: 1em;
    }
    input,
    textarea {
        background-color: rgba(1, 1, 1, 0);
        border: none;
        width: 70%;
        font-size: 1em;
        color: #fff;
    }
}

#contactLink {
    font-size: 1.6em;
    position: absolute;
    width: 25vw;
    height: 500px;
    top: $topspace;
    right: 8%;
    li {
        clear: left;
        line-height: 70px;
    }
    div {
        border: 1px solid ;
        border-radius: 60px;
        width: 70px;
        height: 70px;
        margin: 0px 20px 20px 0px;
        text-align: center;
        float: left;
    }
    i {
        margin-top: 25%;
        font-size: 1.4em;
    }
}