.section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #1E1E1E;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 1s ease;
}
div.section > div{
  position: absolute;
  width: 100%;
  height: 100%;/*1000px*/
  top: 50%;
  margin-top: -28%;/*-500px*/
  background-size: 100% auto;
}


.pageBg_01 {
  background: url("../images/pageBg_01.jpg") no-repeat center 0;
}

.pageBg_02 {
  background: url("../images/pageBg_02.jpg") no-repeat center 0;
}

.pageBg_03 {
  background: url("../images/pageBg_03.jpg") no-repeat center 0;
}

.pageBg_04 {
  background: url("../images/pageBg_04.jpg") no-repeat center 0;
}

.pageBg_05 {
  background: url("../images/pageBg_05.jpg") no-repeat center 0;
}

.pageBg_06 {
  background: url("../images/pageBg_06.jpg") no-repeat center 0;
}

.pageBg_07 {
  background: url("../images/pageBg_07.jpg") no-repeat center 0;
}

.pageBg_08 {
  background: url("../images/pageBg_08.jpg") no-repeat center 0;
}

.pageBg_09 {
  background: url("../images/pageBg_09.jpg") no-repeat center 0;
}


