@import "base/variables";

.title {
    position: absolute;
    width: 100%;
    top: 32%;
    left: 6%;
    z-index: 3;
    color: #FFF;
    font-size: $font-size-base;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: left;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    li {
        padding-bottom: 40px;
    }
}

.content {
    position: absolute;
    width: 100%;
    top: 53%;
    left: 6%;
    z-index: 3;
    color: #FFF;
    font-size: $font-size-base;
    text-align: left;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    li {
        border: 1px solid rgba(0,0,0,0);
        font-size: 0.8em;
        vertical-align:middle;
       line-height: 2.4em;
        display: block;
        letter-spacing: 0px;
        width: 60%;
        padding:5px 20px;
        &:hover{
            border: 1px solid $primary;
            border-radius: 60px;
        }
        img{
            vertical-align: middle !important;
        }
        span {
            padding-left: 10px;
            margin-top: -10px;
            color: $primary;
            &.current {
                color:$lightPrimary;
            }
        }
        i {
            padding-right: 12px;
        }
    }
  
}

@mixin imgEff{
    opacity: 1;
    transition: 0.4s ease-out;
}
div.tabImg{
    margin-top: -20px;
}
.tabImg {
    position: absolute;
    width: 1366px;
    height: 1000px;
    right: 0px;
    top: 8vh;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 78vh auto;
    opacity: 0;

    &.tab1 {
        background-image: url(../images/tabShowImg1.png);
        @include imgEff;
    }
    &.tab2 {
        background-image: url(../images/tabShowImg2.png);
        @include imgEff;
    }
    &.tab3 {
        background-image: url(../images/tabShowImg3.png);
        @include imgEff;
    }
    &.tab4 {
        background-image: url(../images/tabShowImg4.png);
        @include imgEff;
    }
    &.tab5 {
        background-image: url(../images/tabShowImg5.png);
        @include imgEff;
    }
}





