<div id="contactForm">
    <div class="name">
        <span class="input-group-addon">
            <i class="fa fa-user-o"></i>
        </span>
        <input type="text" placeholder="名称">
    </div>
    <div class="mail">
        <span class="input-group-addon">
            <i class="fa fa-envelope-o"></i>
        </span>
        <input type="text" placeholder="电邮">
    </div>
    <div class="qq">
        <span class="input-group-addon">
            <i class="fa fa-qq"></i>
        </span>
        <input type="text" placeholder="QQ">
    </div>
    <div class="website">
        <span class="input-group-addon">
            <i class="fa fa-globe"></i>
        </span>
        <input type="text" placeholder="公司网页">
    </div>
    <div class="comment">
        <span class="input-group-addon">
            <i class="fa fa-commenting-o"></i>
        </span>
        <textarea rows="2" name="S1" cols="20" placeholder="讯息"></textarea>
    </div>
    <div class="shield">
        <span class="input-group-addon">
            <i class="fa fa-shield"></i>
        </span>
        <input type="text" placeholder="请输入验证码">
        <div><img src="localhost:8010/captcha/get_captcha.php" alt="" id="captcha" /></div>
    </div>
    <button type="button">发送88</button>
</div>


<div id="contactLink">
    <ul>
        <li>
            <div class="">
                <i class="fa fa-skype fa-2x"></i>
            </div>ID:sales.og888
        </li>
        <li>
            <div class="">
                <i class="fa fa-qq fa-2x"></i>
            </div>OGSales</li>
        <li>
            <div class="">
                <i class="fa fa-weixin fa-2x"></i>
            </div>2810152886
        </li>
        <li>
            <div class="">
                <i class="fa fa-envelope fa-2x"></i>
            </div>
            <a href="mailto:sales@orientalgame.com"> sales@orientalgame.com</a>
        </li>
    </ul>
</div>