<form action="#" method="post" id="captcha-form" name="captcha-form" autocomplete="off" class="form-horizontal" novalidate="novalidate">
    
<div id="contactForm">
    <div class="name">
        <span class="input-group-addon">
            <i class="fa fa-user-o"></i>
        </span>
        <input name="name"  type="text" placeholder="名称" >
    </div>
    <div class="mail">
        <span class="input-group-addon">
            <i class="fa fa-envelope-o"></i>
        </span>
        <input name="email" type="text" placeholder="电邮" >
    </div>
    <div class="qq">
        <span class="input-group-addon">
            <i class="fa fa-qq"></i>
        </span>
        <input name="qq" type="text" placeholder="QQ" required="required">
    </div>
    <div class="website">
        <span class="input-group-addon">
            <i class="fa fa-globe"></i>
        </span>
        <input name="website" type="text" placeholder="公司网页">
    </div>
    <div class="comment">
        <span class="input-group-addon">
            <i class="fa fa-commenting-o"></i>
        </span>
        <textarea name="comment" rows="2" name="S1" cols="20" placeholder="讯息" required="required"></textarea>
    </div>
    <div class="shield">
        <span class="input-group-addon">
            <i class="fa fa-shield"></i>
        </span>
        <input name="captchaTxt" type="text" class="code" placeholder="请输入验证码" required="required">
        <div>
            <img src="" alt="" id="captcha" />
        </div>
    </div>
    <button id="submitBtn" type="submit">发送</button>
</div>
</form>

<div id="contactLink">
    <ul>
        <li>
            <div class="">
                <i class="fa fa-skype fa-2x"></i>
            </div>ID:sales.og888
        </li>
        <li>
            <div class="">
                <i class="fa fa-qq fa-2x"></i>
            </div>OGSales</li>
        <li>
            <div class="">
                <i class="fa fa-weixin fa-2x"></i>
            </div>2810152886
        </li>
        <li>
            <div class="">
                <i class="fa fa-envelope fa-2x"></i>
            </div>
            <a href="mailto:sales@orientalgame.com"> sales@orientalgame.com</a>
        </li>
    </ul>
</div>