<contact>
    <div id="contactForm">
        <div class="name">
            <span class="input-group-addon">
                <i class="fa fa-user-o"></i>
            </span>
            <input type="text">
        </div>
        <div class="mail">
            <span class="input-group-addon">
                <i class="fa fa-envelope-o"></i>
            </span>
            <input type="text">
        </div>
        <div class="qq">
            <span class="input-group-addon">
                <i class="fa fa-qq"></i>
            </span>
            <input type="text">
        </div>
        <div class="website">
            <span class="input-group-addon">
                <i class="fa fa-globe"></i>
            </span>
            <input type="text">
        </div>
        <div class="comment">
            <span class="input-group-addon">
                <i class="fa fa-commenting-o"></i>
            </span>
            <input type="text">
        </div>
        <div class="shield">
            <span class="input-group-addon">
                <i class="fa fa-shield"></i>
            </span>
            <input type="text">
        </div>



       

    </div>



    <div id="contactLink">
        <span class="">
                <i class="fa fa-skype">ID:sales.og888</i>
        </span>
        <span class="">
                <i class="fa fa-qq">ID:2810152866</i>
        </span>
        <span class="">
                <i class="fa fa-weixin">ID:OGSales</i>
        </span>
        <span class="">
                <i class="fa fa-skype">ID:sales.og888</i>
        </span>
    </div>



</contact>