<div class="section">
    <div class="pageBg_06">

        <div class="title">
            <ul>
                <li>东方包网合作模式提供高品质游戏产品及一站式的合作服务,</li>
                <li>顶级的技术支持和精益求精的态度打造行业口碑。</li>
                <li>Oriental Game’s white label solutions allow clients to get</li>
                <li>their business operations off on the right foot.</li>
            </ul>
        </div>
        <div class="content">
            <ul>
                <li>
                    <i class="fa fa-user-o"></i>20兆独享服务器
                    <span class="current">Exclusive 20Mb Server</span>
                </li>
                <li>
                    <i class="fa fa-user-o"></i>两千多款游戏供应
                    <span>Over 2,000 Games!</span>
                </li>
                <li>
                    <i class="fa fa-user-o"></i>优惠活动返水快速设定
                    <span>Easy to Setup Rebate for Players</span>
                </li>
                <li>
                    <i class="fa fa-user-o"></i>后台登入权限资安把关
                    <span>Strictly Secure to Access Backend Office</span>
                </li>
                <li>
                    <i class="fa fa-user-o"></i>简单实用的后台管理系统
                    <span>Simple And Powerful Backend Management System</span>
                </li>
            </ul>

        </div>
        <div id="tabImg" class="tabImg tab1"></div>
    </div>
</div>
<script type="text/javascript">
    
</script>