<div class="section">
    <div class="pageBg_06">

        <div class="title">
            <ul>
                <li>东方包网合作模式提供高品质游戏产品及一站式的合作服务,</li>
                <li>顶级的技术支持和精益求精的态度打造行业口碑。</li>
                <li>Oriental Game’s white label solutions allow clients to get</li>
                <li>their business operations off on the right foot.</li>
            </ul>
        </div>
        <div class="content">
             <ul>
                <li>
                    <img src="../images/tabicon1_0.gif" alt="">
                    20兆独享服务器
                    <span class="current">Exclusive 20Mb Server</span>
                </li>
                <li>
                        <img src="../images/tabicon2_0.gif" alt="">
                    两千多款游戏供应
                    <span>Over 2,000 Games!</span>
                </li>
                <li>
                        <img src="../images/tabicon3_0.gif" alt="">
                    优惠活动返水快速设定
                    <span>Easy to Setup Rebate for Players</span>
                </li>
                <li>
                        <img src="../images/tabicon4_0.gif" alt="">
                    后台登入权限资安把关
                    <span>Strictly Secure to Access Backend Office</span>
                </li>
                <li>
                        <img src="../images/tabicon5_0.gif" alt="">
                    简单实用的后台管理系统 
                    <span>Simple And Powerful Backend Management System</span>
                </li>
            </ul>

        </div>
        <div id="tabImg" class="tabImg tab1"></div>
    </div>
</div>
<script type="text/javascript">
    
</script>