//contact page
@import "../base/_variables.scss";
$topspace:27%;
.pageBg_09 {
    position: relative;
}

#contactForm {
    text-align: center;
    font-size: 1.4em;
    position: absolute;
    width: 650px;
    top: $topspace;
    left: 100px;
    >div {
        img {
            height: 1.4em;
        }
        text-align: left;
        margin-bottom: .3em;
        border-bottom: 2px solid $grey;
        padding: 0.2em .5em;
        &:hover {
            background-color: #101010;
            border-bottom: 2px solid $primary;
            i {
                color: #ffffff;
            }
        }
    }
    label {
        font-style: normal;
        font-size: 0.6em;
        color: #ff0000;
        clear: both;
        display: block;
        position: absolute;
        right: 0px;
    }
    input[type=text],
    textarea {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgba(81, 203, 238, 0);
    }
    input[type=text]:focus,
    textarea:focus {
        list-style: 2em;
        box-shadow: 0 0 5px rgba(81, 203, 238, 0);
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgba(81, 203, 238, 0);
    }
    button {
        clear: both;
    }
    .shield {
        input {
            width: 50%;
        }
        div {
            float: right;
            background-color: #121212;
            width: auto;
            height: 1em;
        }
    }
    .comment {
        height: 100px;
        position: relative;
        span {
            // position: absolute;
            top: 10px;
        }
        textarea {
            position: absolute; // left: 40px;
            height: 4em;
        }
        label {
            position: absolute;
            bottom: 7px;
        }
    }
    i {
        margin-right: 15px;
        margin-left: 10px;
        color: $grey;
    }
    input {
        height: 1em;
    }
    input,
    textarea {
        background-color: rgba(1, 1, 1, 0);
        border: none;
        width: 85%;
        font-size: 1em;
        color: #fff;
    }
    textarea {
        min-height: 50px;
        resize: none;
    }
}

#contactLink {
    font-size: 1.6em;
    position: absolute;
    width: 400px;
    height: 500px;
    top: $topspace;
    right: 50px;
    li {
        clear: left;
        line-height: 70px;
        &.email .mobile {
            display: none;
        }
        &.email .desk {
            display: block;
        }
    }
    div {
        border: 1px solid #ffffff;
        border-radius: 60px;
        width: 70px;
        height: 70px;
        margin: 0px 10px 20px 0px;
        text-align: center;
        float: left;
    }
    i {
        margin-top: 25%;
        font-size: 1.4em;
    }
}

@media screen and (min-width:$screen-xs-min) and (max-width:$screen-sm-max) {
    .pageBg_09 {
        position: relative;
    }
    #contactForm {
        font-size: 0.9em;
        font-style: normal;
        width: 80%;
        top: 35%;
        left: 10%;
        position: absolute;
        >div {
            text-align: left;
            margin-bottom: 0em;
            padding: 0.6em 0em;
            &:hover {
                background-color: rgba(1, 1, 1, 0);
            }
        }
        .comment {
            height: 70px;
        }
        input,
        textarea {
            background-color: rgba(1, 1, 1, 0);
            border: none;
            width: 75%;
            font-size: 1em;
            color: #fff;
        }
    }
    #contactLink {
        font-size: 0.9rem;
        width: 100%;
        height: auto;
        top: 22%;
        left: 10%;
        ul li {
            float: left;
            line-height: 2em;
            width: 180px;
            clear: none;
            &.email .mobile {
                display: block;
            }
            &.email .desk {
                display: none;
            }
        }
        div {
            border-radius: 20px;
            width: 1.6em;
            height: 1.6em;
            padding: 5px;
            text-align: center;
            float: left;
            margin-top: -5px;
        }
        i {
            margin-top: 0;
            font-size: 1.4em;
        }
        a {
            font-size: 0.8em;
        }
    }
}