@import "../base/_variables.scss";
.pageBg_06 {
    position: relative;
}

.btn_joinus {
    position: absolute;
    background-image: url(../images/btn_joinus-0.png);
    background-repeat: no-repeat;
    width: 460px;
    height: 70px;
    top: 68%;
    left: 10%;
    
    &:hover {
        background-size: 90%;
        cursor: pointer;
    }
}

@media screen and (min-width:$screen-xs-min) and (max-width:$screen-sm-max) {
    .btn_joinus {
        width: 460px;
        height: 70px;
        top: 45%;
        left: 10%;
        background-size: 460px 70px;
        
    }
}