#contactForm {
  position: absolute;
  left: 160px;
  top: 210px;
  height: 500px;
  border: #9b1616 1px solid;
}

#contactLink {
  position: absolute;
  left: 910px;
  top: 210px;
  height: 500px;
  border: #9b1616 1px solid;
  font-size: 1.4em;
}

#contactLink span {
  border: 1px solid #ffffff;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  margin: 15px;
}

#contactLink i {
  font-size: 1.7em;
}
