/* slider-bar */
.slider-bar {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -150px;
  z-index: 110;
  width: 20px;
  height: 300px;
  transition: all 0.5s ease;
}

.slider-bar a {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 auto 12px;
  border: 2px solid #a0a3a2;
  border-radius: 50%;
  overflow: hidden;
}

.slider-bar a.current {
  background-color: #f68b20;
  border: 2px solid #f68b20;
  width: 12px;
  height: 12px;
}

.slider-bar .mouse {
  display: block;
  width: 25px;
  padding-top: 38px;
  text-align: center;
  color: #FFF;
  background: url("../images/mouse.png") no-repeat 0 0;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="images/mouse.png");
  _background: none;
}

@-webkit-keyframes tipTxt {
  from {
    color: #a0a3a2;
  }
  to {
    color: #ffffff;
  }
}

@keyframes tipTxt {
  from {
    color: #a0a3a2;
  }
  to {
    color: #ffffff;
  }
}

.sliderTip {
  width: 50px;
  margin: 15px 0 0 -3px;
  -webkit-animation-name: tipTxt;
          animation-name: tipTxt;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
